@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #efbb23;
  --catalog-text-color: #e4bb23;
  --hover-primary-color: #bc9a1d;
  --background-color: #f2f2f2;
  --footer-bg-color: white;
  --midia-color: #bababa;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}

.container {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

/* ### MENU ### */
.header-content {
  background-image: url(./assets/capa-madmax2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  width: 100%;
  padding: 20px;
  position: relative;
  color: white;
}

.header-content::after {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 212, 255, 0) 75%
  );
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.header-content nav {
  display: flex;
  z-index: 2;
}

.header-content nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list li {
  margin: 0 25px;
}

.menu-list li a {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.menu-list li a:hover {
  color: var(--primary-color);
}

/* ### FOTO USUÁRIO  ### */
.user-picture-container {
  display: grid;
  grid-template-columns: 45px 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.user-picture-content {
  width: 45px;
  height: 45px;
}

.user-picture-content img {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  width: 100%;
  height: auto;
  margin-right: 9px;
}

.user-picture-container span {
  text-align: center;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}

/* ### HEADER BODY ### */
.header-body {
  z-index: 2;
}

.header-body .container h2 {
  color: #fff;
  font-size: 6.5em;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
}

.header-body .movie-types {
  display: grid;
  grid-template-columns: 76px 40px 57px;
  column-gap: 15px;
  font-size: 13px;
  margin-bottom: 40px;
}

.header-body .movie-types a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.header-body .movie-types a:hover {
  color: var(--primary-color);
}

a.trailler-button {
  background-color: var(--primary-color);
  width: 200px;
  padding: 15px 50px;
  text-align: center;
  border-radius: 40px;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}

a.trailler-button:hover {
  background-color: var(--hover-primary-color);
}

.movie-info {
  padding: 20px 0;
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 15px;
  font-size: 1.4em;
}

.movie-info p:first-child {
  color: white;
}

.movie-info p + p {
  color: var(--hover-primary-color);
}

/* ### CATÁLOGO DE FILMES ### */
.movie-catalog-container .catalog-menu {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}

.movie-catalog-container .catalog-menu ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  column-gap: 20px;
  padding: 0 20px;
  list-style: none;
}

.movie-catalog-container .catalog-menu ul li {
  cursor: pointer;
  padding: 20px 0;
}

.movie-catalog-container .catalog-menu ul li:hover {
  box-shadow: inset 0 -1px 0 var(--catalog-text-color);
}

.movie-catalog-container .catalog-menu ul li a {
  color: var(--catalog-text-color);
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

/* ### LISTA DE FILMES ### */
.movie-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 30px;
}

.movie-catalog .movie-item {
  display: grid;
  grid-template-rows: 350px 1fr;
  width: 24%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.movie-item .movie-poster {
  background-size: cover;
  background-repeat: no-repeat;
}

.movie-item .movie-poster .play-trailer {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  transition: all 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}

.play-trailer h3 {
  color: var(--catalog-text-color);
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.play-trailer a {
  color: #fff;
  font-size: 5em;
  transition: all 0.2s ease-in-out;
}

.play-trailer a:hover {
  color: var(--catalog-text-color);
}

.movie-catalog .movie-item:hover .movie-poster .play-trailer {
  opacity: 1;
  visibility: initial;
}

.movie-item .movie-item-info {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2px;
  padding: 10px;
}

.movie-item-info .movie-name {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
}

.movie-item-info .movie-genre {
  font-size: 1.2em;
  color: var(--catalog-text-color);
}

.movie-item-info .movie-rating {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  font-weight: bold;
}

.movie-rating i {
  color: #ccc;
  cursor: pointer;
}

.movie-rating i:hover {
  color: #e74c3c;
}

/* ### FOOTER ### */
footer {
  background-color: var(--footer-bg-color);
}

footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 20px 0;
}

footer ul {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
  text-decoration: none;
  column-gap: 30px;
}

footer ul li a {
  font-size: 2.5em;
  color: var(--midia-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

footer a.icon-twitter:hover {
  color: #55acee;
}

footer a.icon-facebook:hover {
  color: #3b5998;
}

footer a.icon-instagram:hover {
  color: #e95950;
}
