@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  /* a cada 1rem será considerado 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
  background-color: #fafafa;

  /* grande sacada para que o header fixado fique ok */
  padding-top: 56px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.img__wrapper {
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* === 
  NAV BAR 
  ===
  */
.header {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__bar--logo {
  height: 40px;
}

.nav__bar--logo img {
  height: 100%;
}

.nav__bar--link {
  color: black;
}

/* === 
  STORIES
  ===
  */
.stories {
  display: flex;
  padding: 16px 0;
}

.story__card {
  height: 78px;
  width: 78px;
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.story__card--new {
  background: linear-gradient(
    45deg,
    rgba(245, 160, 77, 1) 0%,
    rgba(160, 15, 139, 1) 100%
  );
}

.story__card__img {
  height: 72px;
  width: 72px;
  border: 2px solid white;
  align-items: center;
}

.story__card img {
  height: 100%;
}

/* === 
  POSTS
  ===
  */
.posts {
  padding: 16px;
}

.post {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}

.post__header {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
}

.post__header i {
  cursor: pointer;
}

.profile {
  display: grid;
  grid-template: 40px / 40px auto;
  grid-column-gap: 8px;
}

.profile a {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  align-self: center;
}

.profile__img img {
  height: 100%;
}

.figure__container {
  height: auto;
  width: 100%;
  margin: 0;
}

.figure__container img {
  height: 100%;
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
  font-size: 2.4rem;
}

.actions__controls--favorite {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
}

.likes {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.05);
}

.likes__figure__container {
  height: 30px;
  width: 30px;
  margin-right: 8px;
}

.likes__figure__container img {
  height: 100%;
}

.likes__by {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .container {
    width: 728px;
  }

  .posts {
    padding: 16px 0;
  }
}
